.features {
  font-family: "Lexend", sans-serif;
}
.card-img {
  transition: 0.5s ease-in;
}
.card-img:hover {
  transform: scale(0.9);
}
.card-div {
  transition: 0.5s ease-out;
}
.card-div:hover {
  transform: scale(1.08);
}

.text-area {
  background-color: #272829;
  color: white;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
